{% extends 'bundles/TwigBundle/base.html.twig' %}

{% block body %}
    <h1>Cette page n'éxsiste pas</h1>

    <p>
      <h3><a href="{{ path('movies') }}">Retour à l'acceuil</a></h3>
    </p>
{% endblock %}
