{% extends 'bundles/TwigBundle/base.html.twig' %}

{% block body %}
    <h1>Une erreur est survenue</h1>

    <p>
      <h3><a href="{{ path('movies') }}">Retour à l'acceuil</a></h3> 
    </p>
{% endblock %}
