{% extends 'bundles/TwigBundle/base.html.twig' %}

{% block body %}

<div class="jumbotron text-center">
  <h1 class="display-4">ERREUR</h1>
  <p class="lead">Cette page n'éxsiste pas.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-secondary btn-lg" href="{{ path('movies') }}" role="button">Retour à l'acceuil</a>
  </p>
</div>
{% endblock %}
